@import url(https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap);
* {
  font-family: Cairo, sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 600 !important;
  font-style: normal !important;
  font-variation-settings: "slnt" 0 !important;
  direction: rtl !important;
}
.voiceInfo {
  position: fixed;
  text-align: right;
  bottom: 5px;
  padding: 0;
  right: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #949697;
  text-shadow: 1.25px 0 0 #000, 0 -1.25px 0 #000, 0 1.25px 0 #000,
    -1.25px 0 0 #000;
}
.talking {
  color: hsla(0, 0%, 100%, 0.822);
}
p {
  margin: 0;
}
